@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Merriweather', serif;
}

/* all app */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.container {
  text-align: center;
}

.progress-container::before {
  content: '';
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1;
}


.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
  max-width: 100%;
  width: 35rem;
}

.progress {
  background-color: #3346a188;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: all 0.4s ease;
}

/* circle */
.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
}

.circle.active {
  border-color: #3346a188;
  color: #3346a188;
}


/* button */
.btn {
  margin: 0 1.5rem;
  background-color: royalblue;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  margin: 3rem;
  border: none;
  border-radius: 0.6rem;
  color: aliceblue;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: #999;
  cursor: not-allowed;
}